<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深技师周边外卖</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/zdialog.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/viewer.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/viewer.js"></script>
    <script src="./js/jquery-viewer.js"></script>
    <script src="./js/ajax.js"></script>
    <script src="./js/api.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/zdialog.js"></script>
</head>

<body>
    <div class="navber w-100 text-center position-relative">
        <span class="position-absolute left-5 black_span" onclick="back_url()">
            <i class="fa fa-angle-left angle-left-font"></i>
        </span>
        <span>商家详细</span>
        <span></span>
    </div>
    <div class="w-100" id="app">
        <div class="text-center" v-if="loading">
            <img style="width: 150px;" src="./images/loading_2.gif" alt="">
        </div>
        <div v-if="!loading" class="menu_img_detail" :style="{ 'background-image': 'url('+ cover +')' }"></div>
        <div v-if="!loading" class="p-3">
            <h4>{{ sj.name }}</h4>
            <div class="d-flex align-items-center">
                <div>
                    <div class="some_time">外卖开始时间：{{ sj.start_time }}</div>
                    <div class="some_time">外卖结束时间：{{ sj.end_time }}</div>
                </div>
            </div>
            <hr>
            <div>
                <b class="">外卖联系{{ sj.phone }}</b>
            </div>
            <hr>
            <div v-for="i in menu">
                <img :src="i" @click="img_viewer($event.currentTarget)" width="100%" alt="">
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            sj: {},
            loading: true
        },
        created() {
            api.get_detail(location.search.split("?id=")[1]).then(mes => {
                this.sj = mes[0];
                if(mes.length){
                    this.cover = JSON.parse(mes[0].cover)[0];
                    this.menu = JSON.parse(mes[0].menu);
                }
                this.loading = false;
            })
        },
        methods: {
            img_viewer(a){
                $(a).parent().viewer({"title": false, "navbar": false, "movable": false, "transition": false});
            }
        }
    });

    function back_url() {
        history.go(-1);
    }
</script>

</html>