<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深技师周边外卖</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/zdialog.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/ajax.js"></script>
    <script src="./js/api.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/zdialog.js"></script>
</head>

<body>
    <div class="navber w-100 text-center">
        <span>深技师周边外卖</span>
    </div>
    <div id="app">
        <div class="text-center" v-if="loading">
            <img style="width: 150px;" src="./images/loading_2.gif" alt="">
        </div>
        <div class="text-center pt-4 no_sj" v-if="sj.length == 0 && !loading">暂无数据</div>
        <div v-if="!loading" class="w-100 p-2 border-bottom-eaeaea d-flex" v-for="i in sj">
            <div class="menu_img" :style="{ 'background-image': 'url('+ i.cover[0] +')' }"></div>
            <div class="ml-2 d-flex flex-column justify-content-between right_div">
                <p class="title mb-0">{{ i.name }}</p>
                <span class="start_time">外卖开始时间：{{ i.start_time }}</span>
                <div class="menu_phone d-flex justify-content-between">
                    <a :href="'detail.html?id=' + i.id">查看详细菜单</a>
                    <a :href="'tel:' + i.phone">拨打电话</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            sj: {},
            loading: true
        },
        created() {
            api.get_data().then(mes => {
                this.sj = mes;
                this.loading = false
            })
        },
    });
</script>

</html>